<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="../assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="../assets/css/cmdb.css">
    <link rel="stylesheet" href="../assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="../assets/css/admin.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>

<body data-type="generalComponents">

    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="javascript:;" class="tpl-logo">
                <img src="../assets/img/logo.png" alt="">
            </a>
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">

                <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">{{ data.UserName }}</span><span class="tpl-header-list-user-ico"> <img src="../assets/img/user01.png"></span>
                    </a>
                    <ul class="am-dropdown-content">
{#                        <li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>#}
{#                        <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>#}
                        <li><span class="am-icon-power-off" onclick="logout()"></span> 退出</li>
                    </ul>
                    <div class="am-modal am-modal-alert" tabindex="-1" id="user_logout_success">
                        <div class="am-modal-dialog">
                             <div class="am-modal-hd">成功登出</div>
                        </div>
                    </div>
                </li>
                <li><a class="tpl-header-list-link" onclick="logout()"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
            </ul>
        </div>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                系统菜单
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <script>var restr='{{ data.system_memu }}';</script>
                    <div class="system_memu"></div>
                </ul>
            </div>
        </div>

        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                CMDB 主机列表
            </div>
            <ol class="am-breadcrumb">
                <li><a href="/user/index" class="am-icon-home">首页</a></li>
                {% for info in data.navigation %}
                    <li class="am-active">{{ info }}</li>
                {% endfor %}
            </ol>
            <div class="tpl-portlet-components">
{#                <div class="portlet-title">#}
{#                    <div class="caption font-green bold">#}
{#                        <span class="am-icon-code">列表</span>#}
{#                    </div>#}
{#                    <div class="tpl-portlet-input tpl-fz-ml">#}
{#                        <div class="portlet-input input-small input-inline">#}
{#                            <div class="input-icon right">#}
{#                                <i class="am-icon-search"></i>#}
{#                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
{#                                    <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>#}
{#                                    <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>#}
{#                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>#}
                                </div>
                            </div>
                        </div>
{#                        <div class="am-u-sm-12 am-u-md-3">#}
{#                            <div class="am-form-group">#}
{#                                <select data-am-selected="{btnSize: 'sm'}">#}
{#                                  <option value="option1">所有类别</option>#}
{#                                  <option value="option2">IT业界</option>#}
{#                                  <option value="option3">数码产品</option>#}
{#                                  <option value="option3">笔记本电脑</option>#}
{#                                  <option value="option3">平板电脑</option>#}
{#                                  <option value="option3">只能手机</option>#}
{#                                  <option value="option3">超极本</option>#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-input-group am-input-group-sm">
                                <input type="text" class="am-form-field">
                                <span class="am-input-group-btn">
                                    <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <div class="am-scrollable-horizontal am-text-nowrap">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            {% for th in data.Tablemsg.th %}
                                                <th>{{ th }}</th>
                                            {% endfor %}
                                            <th class="table-set">操作</th>
{#                                            <th >唯一编号</th>#}
{#                                            <th >HostName</th>#}
{#                                            <th >类别</th>#}
{#                                            <th >作者</th>#}
{#                                            <th >修改日期</th>#}
{#                                            <th >操作</th>#}
                                        </tr>
{#                                        <tr>#}
{#                                            <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>#}
{#                                            <th class="table-id">唯一编号</th>#}
{#                                            <th class="table-title">HostName</th>#}
{#                                            <th class="table-type">类别</th>#}
{#                                            <th class="table-author am-hide-sm-only">作者</th>#}
{#                                            <th class="table-date am-hide-sm-only">修改日期</th>#}
{#                                            <th class="table-set">操作</th>#}
{#                                        </tr>#}
                                    </thead>
                                    <tbody class="am-table-centered am-table-striped">
                                    {% for msg in data.Tablemsg.tr %}
                                        <tr>
                                            {% for tr in msg %}
{#                                                {{ msg.UID }}#}
                                                <td>{{ tr }}</td>
{#                                            {% for key in data.Hostmsg.key %} {{ key }} {% endfor %}#}
                                            {% endfor %}
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
{#                                                        <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>#}
                                                        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                </div>
                                <div class="am-cf">

                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <li class="am-disabled"><a href="#">«</a></li>
                                            <li class="am-active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>
        </div>

    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/amazeui.min.js"></script>
{#    <script src="../assets/js/app.js"></script>#}
    <script src="/assets/js/system_memu.js"></script>
    <script >show_Memu(restr)</script>
    <script src="/assets/js/app.js"></script>
    <script src="../assets/js/cmdb.js"></script>
</body>

</html>